groups:
  - name: NodeAlerts
    rules:
      - alert: HighNodeCPUUsage
        expr: |
          100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > {{ cpu_usage_threshold | default(80) }}
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "High CPU usage on {% raw %}{{ $labels.instance }}{% endraw %}"
          description: "Node {% raw %}{{ $labels.instance }}{% endraw %} is using high CPU. Value: {% raw %}{{ $value }}{% endraw %}%"

      - alert: HighNodeMemoryUsage
        expr: |
          100 * (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) > {{ memory_usage_threshold | default(80) }}
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "High Memory usage on {% raw %}{{ $labels.instance }}{% endraw %}"
          description: "Node {% raw %}{{ $labels.instance }}{% endraw %} is using high memory. Value: {% raw %}{{ $value }}{% endraw %}%"
